.grid-container {
    columns: 2;
    column-gap: 20px;
    margin: 0 auto;
    background: #1e1e1e;
}

.graph {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    height: 700px;
    overflow: hidden;
}